@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center col-md-10">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="display-4">Bem vindo a sistema de gestão hidrométrica</h1>
        <p>Este é um projeto em desenvolvimento, explore as funcionalidades.</p>
    </div>
