@model Hidro.Web.Models.Condominio

@{
    ViewData["Title"] = "Editar | Condomínio";
}

<div class="col-md-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Editar Condomínio</h4>
            <form asp-action="Edit">                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DataRegistro" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Nome" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Endereco" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Endereco" class="form-control" />
                                <span asp-validation-for="Endereco" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Cep" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Cep" class="form-control" />
                                <span asp-validation-for="Cep" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Telefone" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Telefone" class="form-control" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Responsavel" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Responsavel" class="form-control" />
                                <span asp-validation-for="Responsavel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Cnpj" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Cnpj" class="form-control" />
                                <span asp-validation-for="Cnpj" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" asp-for="Ativo"> @Html.DisplayNameFor(model => model.Ativo)
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <a asp-action="Index" class="btn btn-light mr-2">Cancelar</a>
                        <input type="submit" value="Salvar" class="btn btn-success" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
